<div class="search-form mt-4">
    <form method="GET" action="">
        <div class="form-group">
            <label for="search">Email address</label>
            <input type="text" class="form-control" id="search" name="q" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="gender">Email address</label>
            <select name="gender" id="gender" class="form-control">
                <option value="">--Chon gioi tinh--</option>
                <option value="male">nam</option>
                <option value="female">nu</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>